.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-poppins), sans-serif;
    color: white;
    height: 100vh;

       @media screen and (max-width: 1080px) {
              flex-direction: column;
        }
}

.aboutText {
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;

       @media screen and (max-width: 1080px) {
           width: 100%;
        }
}

.workText {
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

      @media screen and (max-width: 1080px) {
           width: 100%;
        }
}

.aboutText p,
.workText p {
    font-size: 1.2em;
    color: #624155;
    width: 600px;

      @media screen and (max-width: 1080px) {
           width: 100%;
        }
}

.title {
    font-size: 5em !important;
    font-family: var(--font-museo-moderno), sans-serif;
    padding: 0;
    margin: 0;
    color: #624155;

      @media screen and (max-width: 1080px) {
           font-size: 3.5em !important;
        }
}


