.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.titles h2 {
    font-family: var(--font-museo-moderno), sans-serif;
    font-size: 4rem;
    color: #624155;
    margin: 0;

    @media (max-width: 768px) {
        font-size: 3rem;
    }
}

.titles h3 {
    font-family: var(--font-poppins), sans-serif;
    font-size: 1.2rem;
    color: #624155;
    margin: 0;

    @media (max-width: 768px) {
        font-size: 1rem;
    }
}

.contactForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contactFormFields label {
    font-family: var(--font-poppins), sans-serif;
    font-size: 1.2rem;
    color: #624155;
    margin-top: 5px;
}

.contactFormFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contactFormFields input,
.contactFormFields textarea {
    width: 300px;
    height: 2.5rem;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.contactFormBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.contactFormBtn button {
    width: 300px;
    height: 2.5rem;
    margin-top: 5px;
    font-family: var(--font-poppins), sans-serif;
    font-size: 1em;
    background-color: #624155;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.footer ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    margin-top: 20%;
}

.svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    fill: #624155;
}

.svg:hover,
.contactFormBtn button:hover {
    transform: scale(1.1);
}

.footerText {
    font-family: var(--font-poppins), sans-serif;
    font-size: 1rem;
    color: #624155;
    margin-top: 5px;
    margin-bottom: 15px;
}
