.main {
    height: 100vh;;

    .mainText {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mainText h1 {
          @media screen and (max-width: 1080px) {
           text-align: center;
           font-size: 4em;
        }
    }
}

.title {
    padding: 0;
    margin: 0;
    font-family: var(--font-museo-moderno), sans-serif;
    font-weight: 600;
    font-size: 6em;
    color: #8f447e;
}

.subTitle {
    padding: 0;
    margin: 0;
    font-family: var(--font-museo-moderno), sans-serif;
    font-weight: 600;
    font-size: 4em;
    color: #b56da5;
    display: flex;
    align-items: center;
    justify-content: center;

         @media screen and (max-width: 1080px) {
           font-size: 3em !important; 
        }
}

.words .subTitle {
    position: absolute;
    opacity: 0;
    width: 100%;
    left: 0;
    right: 0;
    pointer-events: none;
}
.rotate .subTitle {
    -webkit-animation: rotateWord 18s linear infinite;
    animation: rotateWord 18s linear infinite;
}

.words .subTitle:nth-child(2) {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.words .subTitle:nth-child(3) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}
.words .subTitle:nth-child(4) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}
.words .subTitle:nth-child(5) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}

@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    27% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -ms-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

