.main {
    height: 100vh;
    background: rgb(238, 174, 224);
    background: radial-gradient(circle, rgba(238, 174, 224, 1) 6%, rgba(228, 217, 127, 1) 100%);

    .mainText {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .svgContainer {
        position: relative;
    }

    .svg {
        position: absolute;
        top: 255px;
        width: 48px;
        height: 48px;
    }
}
.title {
    padding: 0;
    margin: 0;
    font-family: var(--font-museo-moderno), sans-serif;
    font-weight: 600;
    font-size: 6em;
    color: #8f447e;
}

.subTitle {
    padding: 0;
    margin: 0;
    font-family: var(--font-museo-moderno), sans-serif;
    font-weight: 600;
    font-size: 4em;
    color: #b56da5;
}
