.nav {      
    width: 100%;     
    display: flex;
    justify-content: center;
    z-index: 10;      
}

.navList {
  width: 50%;
    margin: 0;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

     @media screen and (max-width: 768px) {
       padding: 20px 0 0 0; 
          gap: 15px;
          width:fit-content;
        }
    
}

.navList li a {
    text-decoration: none;
    color: #8f5883;
    font-family: var(--font-poppins), sans-serif;
    font-size: 1.2em;
    font-weight: 600;
      display: inline-block;
    position: relative;
     transition: color 0.3s ease;
}

.navList li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background-color: #8f5883;
    transition: width 0.3s ease, left 0.3s ease;
    cursor: pointer;
}

.navList li a:hover::before {
    width: 100%;
    left: 0;
}


.navList li a:hover::after {
right:0;
}

/* .navList li a:after {
  border-radius: 1em;
  border-top: .12em solid #8f5883;
 content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .2s cubic-bezier(0,.5,0,1);
} */