.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.projectList {
    height: inherit;
    display: grid; /* Switch to grid */
    grid-template-columns: repeat(3, 1fr); /* Create 2 columns */
    gap: 50px; /* Adjust spacing between items */
    /* width: 60%; */

    @media (max-width: 1080px) {
        grid-template-columns: repeat(1, 1fr); /* 1 column on small screens */
}
}

.project {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255 255 255 / 40%);
    border-radius: 10px;
    font-family: var(--font-poppins), sans-serif;
     color: #624155;
     position: relative;
}

.project h3 {
       
    font-size: 1.5em;
    margin: 0;
}

.projectImage {
    width: 100%;
    border-radius: 10px 10px 0 0;


}
.project p {

    width: 80%;
}

.projects h2 {
    font-family: var(--font-museo-moderno), sans-serif;
    color: #624155;
    font-size: 4em;
}